[misc]

# This section contains miscellaneous options.

# The type of the image to send to clients. Possible are all types understood
# by ImageMagick. Default is 'jpg' as it generally provides small image sizes
# and therefore reduces server <-> client communication. However, certain mobile
# devices do not understand JPEG, in that case you must set this to 'png' (which
# mostly means bigger images).
# If set to 'none' or '' then no images will be send to clients.
#img = jpg 

# The maximum length of lists (playlists, queue). Any list from a player will
# be truncated to this limit before it gets send to a client. This is because
# the limited memory of mobile devices. 
# Default value is '100'. Increase it if you have a mobile device with a lot
# of RAM.
#list-limit = 100

# A command to shut down your computer. Gets executed when a client issues
# the command 'Shutdown Host'. The user running Remuco must have appropriate
# rights to execute this command. For instance you could this set this option
# 'sudo /sbin/shutdown'.
# Default value is '', i.e. system shutdown by a client is disabled.
#shutdown = 

# Whenever the server gets started, it also activates all installed basic
# player proxies (BPP-files in ~/.config/remuco). You can avoid this by setting
# this option to 'false'.
# Default value is 'true'.
#enable-bpps = true

[net]

# This section contains network related options.

# 'true' enables clients to connect with WLAN.
# Default value is 'true'.
#ip = true

# The TCP port clients can connect to with WLAN.
# Default value is '34271'.
#ip-port = 34271

# 'true' enables clients to connect with Bluetooth. 
# Default value is 'true'.
bt = true

