Source: remuco-python
Section: python
Priority: extra
Maintainer: Christian Buennig <masala@web.de>
Build-Depends: debhelper (>= 5), python-dev, libremuco-dev, libglib2.0-dev
Standards-Version: 3.7.2

Package: python-remuco
Architecture: any
Depends: ${shlibs:Depends}
Description: Python binding for the Remuco server library
 Remuco is Bluetooth remote control system for media player.
 .
 This is Python binding for the Remuco server library. In most cases you do not
 install this directly but it gets pulled in automatically because you install
 a Python based Remuco player proxy for a specific media player, e.g. the
 package remuco-rhythmbox. 
 .
  Homepage: http://remuco.sourceforge.net/
