#/bin/sh

# Example shutdown script which uses DBus.
# Put this into ~/.config/remuco and rename it to 'shutdown-system' to enable
# Remuco clients to remotely shut down the whole system (not only the media
# player).

# Note: If you have a malicious neighbor, he might use Remuco on _his_ mobile
#       and shutdown _your_ computer! 

dbus-send --session --type=method_call \
	--dest=org.freedesktop.PowerManagement \
	/org/freedesktop/PowerManagement \
	org.freedesktop.PowerManagement.Shutdown