#/bin/sh

# Example shutdown script which uses DBus.
# Put this into ~/.config/remuco renamed to 'shutdown-system' to enabel Remuco
# client to remotely shut down the whole system (not only the media player).

dbus-send --session --type=method_call \
	--dest=org.freedesktop.PowerManagement \
	/org/freedesktop/PowerManagement \
	org.freedesktop.PowerManagement.Shutdown