[config]
[commands]

running = pidof banshee

playpause = banshee --toggle-playing 
next = banshee --next
prev = banshee --previous
playing = [ `banshee --query-status | awk '{ print $2 }'` -eq 1 ] && echo yes || echo false 
plob = ARTIST=`banshee --query-artist | sed -e "s/^[^ ]*: *\\(.*\\)$/\\1/"` ; TITLE=`banshee --query-title | sed -e "s/^[^ ]*: *\\(.*\\)$/\\1/"`; echo "$ARTIST - $TITLE"
