Source: remuco-server
Priority: extra
Maintainer: Christian Buennig <masala@web.de>
Build-Depends: debhelper (>= 5), libbluetooth2-dev, libglib2.0-dev, libmagick9-dev
Standards-Version: 3.7.2
Section: libs

Package: libremuco-dev
Section: libdevel
Architecture: any
Depends: libremuco0 (= ${binary:Version}), libbluetooth2-dev, libc6-dev, libglib2.0-dev, libmagick9-dev
Description: Development files for the Remuco server library
 Remuco is Bluetooth remote control system for media player.
 .
 This package contains header and static library files for developing Remuco
 player proxies.
 .
  Homepage: http://remuco.sourceforge.net/

Package: libremuco0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Library for Remuco player proxies
 Remuco is Bluetooth remote control system for media player.
 .
 This is the server library. In most cases you do not install this directly but
 it gets pulled in automatically because you install a Remuco player proxy for
 a specific media player, e.g. the package remuco-xmms2. 
 .
  Homepage: http://remuco.sourceforge.net/
