Source: remuco-rhythmbox
Section: sound
Priority: extra
Maintainer: Oben Sonne <obensonne@googlemail.com>
Build-Depends: debhelper (>= 5), python-central (>= 0.6.5)
Standards-Version: 3.7.3

Package: remuco-rhythmbox
Architecture: all
Depends: remuco-server (>= 0.7.1), rhythmbox (>= 0.11.5), python (>= 2.5), python-dbus (>= 0.82.4), python-gobject (>= 2.14.1)
Description: Remuco player proxy for Rhythmbox
 Remuco is a Bluetooth/WLAN remote control system for Linux media players. With
 Remuco you can remotely control your favorite media player - amongst others you
 can switch to the next, previous or any other media within the current
 playlist, browse your media library and activate other playlists, rate your
 media and adjust volume. On the mobile (i.e. the remote control) it displays
 information about the current media, including cover art.
 .
 This package contains the Rhythmbox player proxy to use Remuco with Rhythmbox.
