Source: remuco-xmms2
Section: sound
Priority: extra
Maintainer: Christian Buennig <masala@web.de>
Build-Depends: debhelper (>= 5), libremuco-dev, libxmmsclient-dev, libxmmsclient-glib-dev, libglib2.0-dev
Standards-Version: 3.7.2

Package: remuco-xmms2
Architecture: any
Depends: ${shlibs:Depends}
Description: Remuco player proxy for XMMS2
 Remuco is Bluetooth remote control system for media player.
 .
 This is the player proxy for XMMS2. You need this package to remotely control
 XMMS2 with the Remuco system.
 .
  Homepage: http://remuco.sourceforge.net/
